[Unit]
Description=SHET client for Onkyo recievers
Requires=shetserv.service
After=shetserv.service

[Service]
User=jobs
ExecStart=/home/jobs/Random-SHET-Clients/onkyo/onkyo.py 192.168.0.4

[Install]
WantedBy=multi-user.target
